<html>
  <head>
    <meta charset="UTF-8">
    <title>Mario's Nightmare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <form action="" method="post" novalidate>
      <h1>{{ form.command.label }}</h1>
      <p>
        {{ form.command(size=58) }}<br>
        {% for error in form.command.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
      </p>
      <input type="submit" value="Submit">
    </form>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
      {% for message in messages %}
      <p> {{ message }} </p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
  </body>
</html>
